body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    /* Establecer la imagen de fondo */
    background-image: url('');

    /* Controlar cómo se muestra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el desplazamiento de la página */
}
h1 {
    color: #000000;
}
h2 {
    color: #000000;
}
h3 {
    color: #333;
}
dd {
    color: #302c2c;
}
strong {
    font-weight: bold;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
details {
    margin-left: 40px;
}
summary {
    cursor: pointer;
}
.recuadro {
    width: 1000px; /* Ancho del recuadro */
    padding: 20px; /* Espaciado interno */
    border: 2px solid #000; /* Borde sólido de 2 píxeles de grosor */
    border-radius: 10px; /* Esquinas redondeadas */
    background-color: #ecdaa7; /* Color de fondo */
}